.main__backgroundImage{
    height: 60vh;
    background-image: url('../img/image-banner.png');
    background-position: center;
    background-repeat: no-repeat;
        background-size: cover;
  }
  
  .main__profile{
    padding-top: 2rem;
    padding-left: 4rem;
   
  }
  