.videos__mainTittle{
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: $large;
  }
  
  
  .videos__ttle{
    font-size: $medium;
    font-weight: $bold;
    padding-top: 3%;
  }
  
  .videos__subtitle{
    font-size: $small;
    font-weight: $regular;
    color: $gray;
  }
  